<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LodgeVac">
    <meta name="author" content="">
    <title>LodgeVac</title>
    <link rel="icon" type="image/png" href="assets\images\icon.png">

    <script src="https://kit.fontawesome.com/250b502dca.js" crossorigin="anonymous"></script>
    <link rel="favicon" href="assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
   <!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href={{ url_for('home') }}>
                    <div class="logo">
                        <i class="fa-solid fa-house" style="color: #880c0c;"></i>
                        LodgeVac
                    </div>
                </a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li ><a href={{ url_for('home') }}>Home</a></li>
					<li class="active"><a href={{ url_for('about') }}>About</a></li>
					<li><a href={{ url_for('houses') }}>Houses</a></li>
					<li><a href={{ url_for('contact') }}>Contact</a></li>
                    <li><a href={{ url_for('login') }}><button type="button"  class="btn btn-default">Login</button></a></li>
                    <li><a href={{ url_for('signup') }}><button type="button"  class="btn btn-default" >Sign-up</button></a></li>
					<li ><a href={{ url_for('profile') }}><button type="button"  class="btn btn-default" >profile</button></a></li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->


    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- container -->
    <section class="container">
        <div class="row">
            <!-- main content -->
            <section >
                <h3>Our Company</h3>
                <p>
                    <img src="assets/images/about.jpg" alt="" class="img-rounded pull-right" width="300">
                    Bienvenue sur notre application web dédiée à faciliter la location de maisons de vacances et la gestion des allocations au Maroc. Notre plateforme offre une expérience unique pour les voyageurs en quête de logements confortables et authentiques, ainsi que pour les propriétaires souhaitant rentabiliser leurs biens. Que vous soyez à la recherche d'un riad pittoresque dans les ruelles envoûtantes de Marrakech, d'une villa moderne sur les plages dorées d'Agadir, ou d'une escapade tranquille dans les montagnes de l'Atlas, notre application vous met en relation avec une gamme diversifiée de locations de vacances répondant à vos besoins. Avec notre engagement envers la qualité, la transparence et le service clientèle exceptionnel, nous sommes fiers de faciliter des séjours mémorables et sans tracas pour nos utilisateurs. Explorez notre sélection de propriétés uniques et préparez-vous à vivre une expérience inoubliable au Maroc avec nous.                </p>
            </section>
        </div>
    </section>
    <!-- /container -->
    <footer id="footer">
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>

            <div class="clear"></div>
            <!--CLEAR FLOATS-->
        
    </footer>



    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>
