<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LodgeVac">
    <meta name="author" content="">
    <title>LodgeVac</title>
    <link rel="icon" type="image/png" href="assets/images/icon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen"> 
    <link rel="stylesheet" href="assets/css/style.css">
    <style>
        /* Votre CSS personnalisé */
    </style>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Bouton pour les plus petits écrans -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="{{ url_for('home') }}">
                    <div class="logo">
                        <i class="fa-solid fa-house" style="color: #880c0c;"></i>
                        LodgeVac
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('houses') }}">Houses</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li><a href="{{ url_for('login') }}"><button type="button" class="btn btn-default">Login</button></a></li>
                    <li><a href="{{ url_for('signup') }}"><button type="button" class="btn btn-default">Sign-up</button></a></li>
                    <li class="active"><a href="{{ url_for('profile') }}"><button type="button" class="btn btn-default">Profile</button></a></li>
                    <li><a href="{{ url_for('logout') }}"><button type="button" class="btn btn-default">Logout</button></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h1>{{ session.name }}'s Profile</h1>
            <button class="button" onclick="afficherFormulaire()">Réserver</button>
            <form id="reservationForm" action="{{ url_for('reservation') }}" method="post" style="display: none;">
				<label for="nombrePersonnes">nom de masion</label>
                <input type="text" id="nomdemaison" class="form-control" name="nomdemaison" required><br>
                <label for="date">Date de réservation :</label>
                <input type="date" id="date" class="form-control" name="date" required><br>
                <label for="nombrePersonnes">Nombre de personnes :</label>
                <input type="number" id="nombrePersonnes" class="form-control" name="nombrePersonnes" required><br>
                <label for="nombreNuits">Nombre de nuits :</label>
                <input type="number" id="nombreNuits" class="form-control" name="nombreNuits" required><br>
                <button class="button" type="submit">Soumettre</button>
            </form>
            <p id="confirmation" style="display: none;">Votre demande est en cours de traitement.</p>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="social text-center">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
            <div class="clear"></div>
        </div>
    </footer>

    <script>
        function afficherFormulaire() {
            document.getElementById("reservationForm").style.display = "block";
        }
    </script>
</body>
</html>
